<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebpackSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag assets_path('bundle.css') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
