<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebpackSample</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag assets_path('style.js') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
